
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <title>Данные о совещании</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<div class="container mt-5 mb-6">
    <h1>Добавление встречи</h1>
        <form action="/meet" method="post">
            <input type="text" name="theme" placeholder="Введите название статьи" class="form-control"><br>
            <input type="text" name="timeString" placeholder="Введите время начала" class="form-control"><br>
            <select class="custom-select d-block w-100" name="division" required="">
                <option value="">Выбрать...</option>
                <option>Develop</option>
                <option>Manager</option>
                <option>Tester</option>
                <option>Design</option>
            </select><br>
            <select class="custom-select d-block w-100" name="owner" required="">
                <option value="">Ответственный...</option>
                <option>Иванов Иван Иванович</option>
                <option>Степанков Степан Алексеевич</option>
                <option>Воеводин Владислав Аркадьевич</option>
                <option>Карамзин Павел Александрович</option>
                <option>Пушкин Александр Сергеевич</option>
                <option>Лермонтов Михаил Юрьевич</option>
                <option>Гагарин Юрий Алексеевич</option>
                <option>Леонов Алексей Архипович</option>
                <option>Королев Сергей Палович</option>
            </select><br>
            <button type="submit" class="btn btn-success">Добавить встречу</button><br>
        </form>
            <form action="/getUserMeeting" method="get">
            <select class="custom-select d-block w-100" name="users" required="">
                <option value="">Участник...</option>
                <option>Иванов Иван Иванович</option>
                <option>Степанков Степан Алексеевич</option>
                <option>Воеводин Владислав Аркадьевич</option>
                <option>Карамзин Павел Александрович</option>
                <option>Пушкин Александр Сергеевич</option>
                <option>Лермонтов Михаил Юрьевич</option>
                <option>Гагарин Юрий Алексеевич</option>
                <option>Леонов Алексей Архипович</option>
                <option>Королев Сергей Палович</option>

            </select><br>
            <button type="submit" class="btn btn-success">Добавить участника</button><br>
            </form><br>

            <div>
                <h1>Участники</h1>
                <h1>${users}</h1>
            </div>


          <!--  <table border="1" cellpadding="5">
                <tr>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Подразделение</th>
                    <th></th>
                </tr>

                    <tr>
                        <td>${user}</td>
                        <td>${meeting.age}</td>
                        <td>${meeting.division}</td>
                        <td><a href="/delete?id=${customer.id}">Delete</a></td>
                    </tr>


            </table><br>-->

</div>
</html>