<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Данные о совещинии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-6 mb-3">
        <label for="firstName">Тема</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid last name is required.
        </div>
    </div>
</div>
</body>
</html>